<div class="side-nav">
  <div class="side-text">
    <h1>Bloc Chat</h1>
    <!--<h5>{{ home.currentUser }}</h5>-->
    <div ng-repeat="room in home.rooms" ng-click="home.setCurrentRoom(room)">
      <p> {{ room.$value }} </p>
    </div>
    <button type="button" class="btn btn-default" ng-click="home.openModal()">Create a New Room</button>
  </div>
</div>
<div class="chat-room">
  <div class="chat-text">
    <h2>{{ home.currentRoom.$value }}</h2>
    <table class="table table-striped">
      <tbody ng-repeat="message in home.roomMessages">
        <tr>
          <td>{{ message.username }}</td>
          <td>{{ message.content }}</td>
          <td>{{ message.sentAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
